@import "variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-wrap: break-word;
}

#logo {
  width: 150px;
  max-height: fit-content;
}

#mobileNav {
  text-align: center;
  margin-bottom: 5%;
  display: none;
}

#mobileNav a {
  width: 100%;
  display: block;
  padding: 2%;
}

#mobileNav li:not(:first-child) a:hover {
  background-color: var(--brand-color);
  color: white;
}

#hamburger {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  padding: 2%;
  background-color: var(--brand-color);
  color: var(--text-color);
  cursor: pointer;
}

#hamburger span {
  width: 100%;
  height: 100%;
}

#nav {
  display: block;
}

#nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  height: 100%;
  text-transform: uppercase;
}

#nav a,
#mobileNav a {
  text-decoration: none;
  color: black;
}

#nav a:hover {
  color: #3a754d;
}

#hero,
#featured {
  width: 100%;
}

#hero {
  height: 100vh;
  background-image: url("./img/house5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#slideimg {
  width: 100%;
  height: 100vh;
}

#banner {
  position: absolute;
  margin-left: 10%;
  width: 50%;
  max-width: 500px;
  height: 100vh;
  background-color: rgba(8, 75, 37, 0.8);
  padding: 10% 5%;
  color: var(--text-color);
  font-size: 1.5em;
  font-weight: var(--font-reg);
}

#banner > * {
  margin-bottom: 50px;
}

#banner > *:last-child {
  margin-bottom: auto;
}

#banner h1 {
  font-weight: var(--font-bold);
}

#banner a {
  padding: 5% 20%;
  border: 2px white solid;
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}

#banner a:hover {
  border: 2px white solid;
  background-color: white;
  color: var(--brand-color);
}

main {
  margin: 50px auto 100px auto;
}

#featured {
  padding: 5%;
}

#featured h1 {
  text-align: center;
  margin-bottom: 5%;
  font-weight: var(--font-bold);
}

#flistings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-weight: var(--font-light);
}

.flisting {
  width: 400px;
  border: 0.5px var(--brand-color) solid;
}

.flisting img {
  width: 100%;
  height: 300px;
  display: block;
}

.listingLink {
  color: initial;
  text-decoration: initial;
  margin-bottom: 50px;
}

.listingLink:hover {
  box-shadow: 0px 0px 3px var(--brand-color);
}

.bar {
  background-color: var(--brand-color);
  color: var(--text-color);
  padding: 2% 5%;
  font-weight: var(--font-med);
}

.info {
  padding: 5%;
}

.info p {
  margin-bottom: 10px;
}

footer {
  background-color: var(--brand-color);
  color: var(--text-color);
  padding: 5%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #mobileNav {
    display: block;
    font-size: 1.5em;
  }

  #nav {
    display: none;
  }

  #hero {
    height: initial;
  }

  #banner {
    margin-left: 0px;
    max-width: initial;
    width: 100%;
    position: initial;
    height: initial;
  }

  #featured {
    padding: 5% 0px 0px 0px;
  }

  .flisting {
    width: 90%;
    margin: auto;
  }

  .flisting img {
    height: initial;
  }
}
