@import "index.css";
@import "listings.css";

#rentals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-weight: var(--font-light);
}

.rental {
  width: 400px;
  border: 0.5px #084b25 solid;
}

.rental img {
  width: 100%;
  height: 300px;
  display: block;
}

.bar {
  background-color: #084b25;
  color: white;
  padding: 2% 5%;
  font-weight: var(--font-med);
}

.info {
  padding: 5%;
}

.info p {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .rental {
    width: 90%;
    margin: auto;
  }

  .rental img {
    height: initial;
  }
}
